<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="scripts/fun.css" media="screen" title="no title" charset="utf-8">
    <script src="vendors/angular.min.js" charset="utf-8"></script>
    <script src="scripts/script.js" charset="utf-8"></script>
    <link rel="stylesheet" href="vendors/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <title>Weekend 5 Assignment</title>
  </head>
  <body>
    <h1 class="text-center">Animals Webpage!</h1>
    <div ng-include="'partials/navigation.html'"></div>
    <div class="jumbotron"></div>
  </body>
</html>
