<div class="row" ng-controller="whereTheAnimals">
  <div class="col-md-3"></div>
  <div class="col-md-6">
  <input type="text" ng-model="nameIn" name="name" value="" placeholder="Name of Pet">
  <input type="text" ng-model="animalIn" name="name" value="" placeholder="Type of Animal">
  <input type="text" ng-model="ageIn" name="name" value="" placeholder="Age of Pet">
  <input type="text" ng-model="imageIn" name="name" value="" placeholder="URL of image no http://">
  </div>
  <div class="col-md-3">
    <button class="btn btn-primary" type="button" ng-click="addPet()">Add Pet</button>
  </div>
</div>
